.containerMain {
  padding-top: 5%;
}

.box {
  width: 80%;
  height: 80%;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.box:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.titleText {
  font-size: 35px;
  font-weight: bolder;
  color: whitesmoke;
}

// .boxHeader {
//   height: 150px;
//   width: 100%;
//   z-index: -2;
//   opacity: 0.6;
//   color: whitesmoke;
//   background-image: url(/assets/img/bg.png);
//   background-size: 100% 100%;
//   background-repeat: no-repeat;
//   border-top-left-radius: 5px;
//   border-top-right-radius: 5px;
// }

// .headerText {
//   font-size: 45px;
//   font-weight: bolder;
//   z-index: 3;
// }

// .detailBox {
//   border-radius: 5px;
//   box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2);
//   transition: 0.3s;
//   margin: 10px 12px 10px 12px;
//   opacity: 1;
//   background: linear-gradient(to left, #00FF9B, #5f84fb);
//   transition: opacity 300ms linear;
//   color: whitesmoke;
// }

// .detailText {
//   font-family: Verdana, Geneva, Tahoma, sans-serif;
//   font-size: 20px;
//   font-weight: bolder;
//   margin-right: 5px;
// }

.backButton {
  margin-top: auto;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 15px
}
